@import './styles/variables';
@import './styles/colors';

.container {
  padding: 1rem;
  box-sizing: border-box;
  background-color: $content-background-color;
  min-height: calc(100% - $header-height);
}
