/* You can add global styles to this file, and also import other style files */
@import './app/styles/colors';
@import './app/styles/btn';

html,
body {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;

  font-family: Verdana, sans-serif;

  @supports (overflow: overlay) {
    overflow-y: overlay;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10rem;
    border: 1px solid #fff;
  }

  &::-webkit-scrollbar-track-piece:start,
  &::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
  }
}
